# Análisis Preliminar Exploratorio de Datos (Pre-EDA)

En el próximo **Análisis Preliminar Exploratorio de Datos (Pre-EDA)**, realizaremos una revisión inicial del conjunto de datos disponible.

Durante este **Pre-EDA**, nos centraremos en evaluar la calidad de los datos proporcionados por el cliente, con el fin de determinar el enfoque más adecuado para su tratamiento a lo largo del desarrollo del proyecto.

In [20]:
import importlib
import os
import utils as ut
importlib.reload(ut)
import pandas as pd

## 1. Calidad de datos
Para revisar la calidad de los datos y determinar cómo podemos abordar nuestro trabajo, realizamos una inspección de cada archivo, revisando los datos contenidos en cada columna de las tablas a estudiar.

In [6]:
folder_path = '../data'

# Apply the apply_data_summ_to_parquet_folder function to get the summaries
summaries = ut.data_summ_on_parquet(folder_path)

business Summary

Total rows:  150346

Total full null rows:  0
      Column                             Data_type                                                No_miss_Qty                                                   %Missing                                                Missing_Qty
 business_id [<class 'pandas.core.series.Series'>]   business_id    150346
business_id         5
dtype: int64   business_id      0.0
business_id    100.0
dtype: float64   business_id         0
business_id    150341
dtype: int64
        name [<class 'pandas.core.series.Series'>]                 name    150346
name         5
dtype: int64                 name      0.0
name    100.0
dtype: float64                 name         0
name    150341
dtype: int64
     address [<class 'pandas.core.series.Series'>]           address    150346
address         5
dtype: int64           address      0.0
address    100.0
dtype: float64           address         0
address    150341
dtype: int64
        city [<class 'pandas.core.series.Series'>]                 city    150346
city         5
dtype: int64                 city      0.0
city    100.0
dtype: float64                 city         0
city    150341
dtype: int64
       state [<class 'pandas.core.series.Series'>]               state    150343
state         5
dtype: int64               state      0.0
state    100.0
dtype: float64               state         3
state    150341
dtype: int64
 postal_code [<class 'pandas.core.series.Series'>]   postal_code    150346
postal_code         5
dtype: int64   postal_code      0.0
postal_code    100.0
dtype: float64   postal_code         0
postal_code    150341
dtype: int64
    latitude [<class 'pandas.core.series.Series'>]         latitude    150346
latitude         5
dtype: int64         latitude      0.0
latitude    100.0
dtype: float64         latitude         0
latitude    150341
dtype: int64
   longitude [<class 'pandas.core.series.Series'>]       longitude    150346
longitude         5
dtype: int64       longitude      0.0
longitude    100.0
dtype: float64       longitude         0
longitude    150341
dtype: int64
       stars [<class 'pandas.core.series.Series'>]               stars    150346
stars         5
dtype: int64               stars      0.0
stars    100.0
dtype: float64               stars         0
stars    150341
dtype: int64
review_count [<class 'pandas.core.series.Series'>] review_count    150346
review_count         5
dtype: int64 review_count      0.0
review_count    100.0
dtype: float64 review_count         0
review_count    150341
dtype: int64
     is_open [<class 'pandas.core.series.Series'>]           is_open    150346
is_open         5
dtype: int64           is_open      0.0
is_open    100.0
dtype: float64           is_open         0
is_open    150341
dtype: int64
  attributes [<class 'pandas.core.series.Series'>]     attributes    136602
attributes         5
dtype: int64   attributes      9.14
attributes    100.00
dtype: float64     attributes     13744
attributes    150341
dtype: int64
  categories [<class 'pandas.core.series.Series'>]     categories    150243
categories         5
dtype: int64   categories      0.07
categories    100.00
dtype: float64     categories       103
categories    150341
dtype: int64
       hours [<class 'pandas.core.series.Series'>]               hours    127123
hours         5
dtype: int64             hours     15.45
hours    100.00
dtype: float64               hours     23223
hours    150341
dtype: int64
 business_id [<class 'pandas.core.series.Series'>]   business_id    150346
business_id         5
dtype: int64   business_id      0.0
business_id    100.0
dtype: float64   business_id         0
business_id    150341
dtype: int64
        name [<class 'pandas.core.series.Series'>]                 name    150346
name         5
dtype: int64                 name      0.0
name    100.0
dtype: float64                 name         0
name    150341
dtype: int64
     address [<class 'pandas.core.series.Series'>]           address    150346
address         5
dtype: int64           address      0.0
address    100.0
dtype: float64           address         0
address    150341
dtype: int64
        city [<class 'pandas.core.series.Series'>]                 city    150346
city         5
dtype: int64                 city      0.0
city    100.0
dtype: float64                 city         0
city    150341
dtype: int64
       state [<class 'pandas.core.series.Series'>]               state    150343
state         5
dtype: int64               state      0.0
state    100.0
dtype: float64               state         3
state    150341
dtype: int64
 postal_code [<class 'pandas.core.series.Series'>]   postal_code    150346
postal_code         5
dtype: int64   postal_code      0.0
postal_code    100.0
dtype: float64   postal_code         0
postal_code    150341
dtype: int64
    latitude [<class 'pandas.core.series.Series'>]         latitude    150346
latitude         5
dtype: int64         latitude      0.0
latitude    100.0
dtype: float64         latitude         0
latitude    150341
dtype: int64
   longitude [<class 'pandas.core.series.Series'>]       longitude    150346
longitude         5
dtype: int64       longitude      0.0
longitude    100.0
dtype: float64       longitude         0
longitude    150341
dtype: int64
       stars [<class 'pandas.core.series.Series'>]               stars    150346
stars         5
dtype: int64               stars      0.0
stars    100.0
dtype: float64               stars         0
stars    150341
dtype: int64
review_count [<class 'pandas.core.series.Series'>] review_count    150346
review_count         5
dtype: int64 review_count      0.0
review_count    100.0
dtype: float64 review_count         0
review_count    150341
dtype: int64
     is_open [<class 'pandas.core.series.Series'>]           is_open    150346
is_open         5
dtype: int64           is_open      0.0
is_open    100.0
dtype: float64           is_open         0
is_open    150341
dtype: int64
  attributes [<class 'pandas.core.series.Series'>]     attributes    136602
attributes         5
dtype: int64   attributes      9.14
attributes    100.00
dtype: float64     attributes     13744
attributes    150341
dtype: int64
  categories [<class 'pandas.core.series.Series'>]     categories    150243
categories         5
dtype: int64   categories      0.07
categories    100.00
dtype: float64     categories       103
categories    150341
dtype: int64
       hours [<class 'pandas.core.series.Series'>]               hours    127123
hours         5
dtype: int64             hours     15.45
hours    100.00
dtype: float64               hours     23223
hours    150341
dtype: int64
=====================================
checkin Summary

Total rows:  131930

Total full null rows:  0
     Column       Data_type  No_miss_Qty  %Missing  Missing_Qty
business_id [<class 'str'>]       131930       0.0            0
       date [<class 'str'>]       131930       0.0            0
=====================================
review Summary

Total rows:  6990280

Total full null rows:  0
     Column         Data_type  No_miss_Qty  %Missing  Missing_Qty
  review_id   [<class 'str'>]      6990280       0.0            0
    user_id   [<class 'str'>]      6990280       0.0            0
business_id   [<class 'str'>]      6990280       0.0            0
      stars [<class 'float'>]      6990280       0.0            0
     useful   [<class 'int'>]      6990280       0.0            0
      funny   [<class 'int'>]      6990280       0.0            0
       cool   [<class 'int'>]      6990280       0.0            0
       text   [<class 'str'>]      6990280       0.0            0
       date   [<class 'str'>]      6990280       0.0            0
=====================================
tip Summary

Total rows:  908915

Total full null rows:  0
          Column       Data_type  No_miss_Qty  %Missing  Missing_Qty
         user_id [<class 'str'>]       908915       0.0            0
     business_id [<class 'str'>]       908915       0.0            0
            text [<class 'str'>]       908915       0.0            0
            date [<class 'str'>]       908915       0.0            0
compliment_count [<class 'int'>]       908915       0.0            0
=====================================
user Summary

Total rows:  2105597

Total full null rows:  0
            Column         Data_type  No_miss_Qty  %Missing  Missing_Qty
           user_id   [<class 'str'>]      2105597       0.0            0
              name   [<class 'str'>]      2105597       0.0            0
      review_count   [<class 'int'>]      2105597       0.0            0
     yelping_since   [<class 'str'>]      2105597       0.0            0
            useful   [<class 'int'>]      2105597       0.0            0
             funny   [<class 'int'>]      2105597       0.0            0
              cool   [<class 'int'>]      2105597       0.0            0
             elite   [<class 'str'>]      2105597       0.0            0
           friends   [<class 'str'>]      2105597       0.0            0
              fans   [<class 'int'>]      2105597       0.0            0
     average_stars [<class 'float'>]      2105597       0.0            0
    compliment_hot   [<class 'int'>]      2105597       0.0            0
   compliment_more   [<class 'int'>]      2105597       0.0            0
compliment_profile   [<class 'int'>]      2105597       0.0            0
   compliment_cute   [<class 'int'>]      2105597       0.0            0
   compliment_list   [<class 'int'>]      2105597       0.0            0
   compliment_note   [<class 'int'>]      2105597       0.0            0
  compliment_plain   [<class 'int'>]      2105597       0.0            0
   compliment_cool   [<class 'int'>]      2105597       0.0            0
  compliment_funny   [<class 'int'>]      2105597       0.0            0
 compliment_writer   [<class 'int'>]      2105597       0.0            0
 compliment_photos   [<class 'int'>]      2105597       0.0            0
=====================================

## 2. Uso de memmoria
Nuestro principal objetivo es hacer una comparación entre la cantidad de GB utilizados en el archivo original y la nueva cantidad de esos archivos en formato .parquet.  

Esto nos mostrará qué tan eficiente puede ser nuestra base de datos al reducir su tamaño.

In [23]:
yelp_size = round(ut.calculate_original_memory_usage('../data'), 2)

print(f'Total size of original data: \n Yelp: {yelp_size} Mb\n ')

parquet_size = ut.calculate_parquet_memory_usage('../data')
print(f'Total size of compressed data: {round(parquet_size,2)} Mb\n')

diff_size = yelp_size - parquet_size
print(f'Savings in resource and size usage: {round(diff_size,2)} Mb\n')

size_perc = (diff_size/yelp_size)*100
print(f'Percentage savings in resources: {round(size_perc,2)}%\n')

Total size of original data:
 Yelp: 5925834614 Mb

Total size of compressed data: 3201757428 Mb

Savings in resource and size usage: 2724077186 Mb

Percentage savings in resources: 45.97%